[submodule "src/lib/Blockchain_v2_CrossChain/lib/forge-std"]
	path = src/lib/Blockchain_v2_CrossChain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/lib/Blockchain_v2_CrossChain/lib/openzeppelin-contracts"]
	path = src/lib/Blockchain_v2_CrossChain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "src/lib/Blockchain_v1_Ethereum/lib/forge-std"]
	path = src/lib/Blockchain_v1_Ethereum/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/lib/Blockchain_v1_Ethereum/lib/openzeppelin-contracts"]
	path = src/lib/Blockchain_v1_Ethereum/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
